:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

body {
  /* margin: 0; */
  /* display: flex;
  place-items: start; */
  min-width: 320px;
  width: 100%;
  font-size: large;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #fff;
  }

  a:hover {
    color: #4E8774;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #333;
    background-color: #fff;
  }

  a:hover {
    color: #4E8774;
  }
}