#root {
  width: 100%;
}

.app-container {
  padding: 1rem;
  /* height: 100vh; */
}

.header-buttons-container {
  display: inline-flex;
  width: 100%;
}

.heading {
  width: 50%;
}

.socials img {
  margin-right: 1rem;
}

.header-buttons-container .socials {
  width: 70%;
}

.header-buttons-container .dark-toggle {
  width: 30%;
  /* border: #4E8774 3px dotted; */
  display: flex;
  justify-content: flex-end;
  margin-right: .5rem;
}

.links-container .link {
  margin-right: 1rem;
  font-size: large;
  font-weight: 600;
}

.about-section-container {
  /* border: red dotted 4px; */
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.about-section-container .section {
  margin-right: 1rem;
}

.section {
  flex: 1;
  /* border: yellow dotted 1px; */
}

.project-section input {
  display: none;
}

.project-section label {
  display: block;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
  /* background: #6AAB95; */
  border-radius: 3px;
  border-bottom: black 1px solid;
  /* color: #FFF; */
  transition: ease .5s;
}

.project-section label:hover {
  background: #4E8774;
}

.content {
  /* background: #E2E5F6; */
  padding: 10px 20px;
  border: 1px solid #A7A7A7;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input+label+.content {
  display: none;
}

input:checked+label+.content {
  display: block;
}

.footer {
  margin-top: 2rem;
}

.footer-section-container {
  display: flex;
}

@media (min-width: 300px) and (max-width: 768px) {
  .app-container {
    height: 100%;
  }

  .socials {
    margin-top: .5rem;
  }

  .heading {
    width: 95%;
  }

  .about-section-container {
    display: flex;
    flex-direction: column;
  }
}